<div class="title-block text-center">
	<a href="index.html">
        <h1 id="title" class="text-secondary m-0 p-0 fw-light">
			<i class="fa fa-camera-retro"></i> Photo Gallery
		</h1>
    </a>
	<p id="subtitle" class="fst-italic text-secondary p-0">IISSI-2 - University of Seville</p>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0">

		<!--Aqui podemos ver como se declara la clase de navbar-->
		<!--navbar-expand-lg nos indica que la barra de navegacion estara esxpandida en pantallas grandes (lg), despues mediante el uso de navbar-dark y bg-dark indica que las letras deberan ser de color claro y el fondo de nuestra barra sera oscuro-->

		<p class="text-light" > <small class="fst-italic"><i class="fa fa-user" id="showUserName">Guest</i></small>

		</p> <!-- Quito hiperenlace por p -->

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
				<span class="navbar-toggler-icon"></span >
		</button>

		<!--Aqui declaramos un boton para colapsar nuestro menu cuando cuando la pantalla del buscador disminuye de tamaño,despues data-bs-toggle nos indica que el elemento debe activarse/desactivarse en un elemento de tipo colapse, despues tenemos navbar-toggler-icon es el icono de las tres lineas-->

		<div class="collapse navbar-collapse" id="navbarNav">

			<!--Aqui la clase collapse navbar-collapse nos permite que todo el menu (este bloque div) colapse cuando la pagina cambie de tamaño-->

			<ul class="navbar-nav"> 

				<!--Describimos una lista con la clase navbar-nav-->
				
				<!-- Añadir iDs a todos los nav-item para mostrar y ocultar en función de usuario conectado o anónimo-->

				<!--Tendremos entonces etiquetas del tipo <li> que formaran parte de nuestro menu con la clase de nav-item-->

				<li class="nav-item">
					<a class="nav-link" href="index.html" id="navbar-recent">
						<i class="fa fa-clock-o"></i> Recent photos
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled"href="edit_photo.html" id="navbar-upload">
						<i class="fa fa-upload"></i> Upload
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"href="register.html" id="navbar-register">
						<i class="fa fa-user-plus"></i> Sign Up
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html" id="navbar-login"> 
						<i class="fa fa-sign-in"></i> Login 
					</a>
				</li>

				<!--En esta parte vemos una parte del menu que tendra que ser modificada para cuando inicie sesion un usuario, habilitando la opcion de Logout-->

				<li class= "nav-item">
					<a class= "nav-link disabled" href= "#" id="navbar-logout">
						<i class="fa fa-sign-out"></i> Logout 
					</a> 
				</li >

				<li class="nav-item dropdown" id="navbar-trending">
					<a class= "nav-link dropdown-toggle" href="#" id="navbarDesplegableId"
						data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Trending
					</a >
					<div class= "dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item disabled" href="trending_users.html"> Trending users</a >
						<a class= "dropdown-item disabled" href="trending_photos.html"> Trending photos </a>
					</div>
				</li>			
			</ul>
		</div>
	</nav>
</div>
